$grey-light : #F7F7F7;
$grey-reg : #F5F5F5;
$grey-deep : #EFEFF4;
$grey-ex-deep : #676767;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

html{
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --blue: #007bff;
    --dark: #343a40;
    --grey: #4c4c4c;
    --font-family-sans-serif: 'Roboto', sans-serif;;
    --font-family-monospace: 'Roboto Mono', monospace;;
}
body {
    font-family: var(--font-family-sans-serif);
    background-color: #ffffff;
    font-size: 1.6rem;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2.2rem;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: var(--grey);
    font-size: 1.6rem;
}
button:hover{
    cursor: pointer;
}
i:hover{
    cursor: pointer;
}
.full_container{
    width: 100%;
}
.fix_container{
    width: 1200px;
    margin: 0 auto;
}
@mixin btn($bc: var(--blue)) {
    background: $bc;
    color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
}
.btn{
    @include btn;
}
.btn_orange{
    @include btn($bc: orange);
}
/* =========== header =================*/
.header {
    padding: 1rem 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        &__left{
            a img{
                max-width: 17.8rem;
            }
        }
        &__mid{
            ul{
                display: flex;
                gap: 2.5rem;
                li{
                    position: relative;
                    ul{
                        position: absolute;
                        padding: 7px 15px;

                        li {
                            margin-bottom: 2rem;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            a{
                                color: var(--blue);
                            }
                        }
                    }
                }
            }
        }
        &__right{
            display: flex;
            gap: 3.5rem;
            button{
                display: flex;
                gap: 1rem;
                i{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

/*=========== hero section ==============*/
.hero{
    background: url('../img/banner.png') no-repeat;
    background-size: cover;
    &__inner{
        h1{
            text-align: center;
            color: white;
        }
        &__box{
            position: relative;
            top: 3rem;
            border-radius: 10px;
            background-color: rgba(253, 253, 253, 0.5);
            &__head{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $grey-light;
                margin-bottom: 3rem;
                img{
                    margin-right: 1.5rem;
                }
            }
            &__body{                
                margin-bottom: 5rem;
                .options{
                    text-align: center;
                    .btns{
                        display: inline-block;
                        border-radius: 20px;
                        button{
                            padding: 1rem 3rem;
                        }
                        button:hover{
                            background-color: var(--blue);
                        }
                    }
                }
                .flight_details{
                    display: flex;
                    gap: 1rem;
                    .details_single{
                        border-radius: 4px;
                        background-color: white;
                        .item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            padding: 1rem;
                            padding-left: 2rem;
                            border-right: 1px solid $grey-light;
                            &:last-of-type{
                                border: none;
                            }
                            small{
                                color: var(--grey);
                            }
                            p{
                                color: var(--grey);
                            }
                        }
                        .toggle_box{                            
                            position: absolute;
                            bottom: 0;
                            box-shadow: 0 0 5px gray;
                        }
                        .ft_box{
                            border-radius: 5px;
                            ul li{
                                padding: 1.3rem 1rem;
                                span{
                                    margin-right: 1rem;
                                }
                                &:hover{
                                    background-color: var(--blue);
                                }
                            }
                        }
                        .np_box{
                            padding: 1.5rem;
                            border-radius: 5px;
                            .head{
                                display: flex;
                                justify-content: space-between;
                                color: $grey-ex-deep;
                            }
                            .body{
                                border-bottom: 1px solid $grey-reg;
                                margin-bottom: 2rem;
                                .single{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-bottom: 3rem;
                                    .count{
                                        font-weight: bold;
                                    }
                                    .dtls{
                                        p{
                                            color: var(--grey);
                                            font-size: 12px;
                                        }
                                    }
                                    .in_dr{
                                        color: var(--blue);
                                        button{
                                            background: none;
                                            border: 1px solid var(--blue);
                                            padding: 2rem;
                                        }
                                    }
                                }
                                .foot{
                                    ul li.active{
                                        display: flex;
                                        justify-content: space-between;
                                        color: var(--blue);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__foot{
                button{
                    font-size: 2.2rem;                    
                }
            }
        }
    }
}

/* visa section */
.visa{
    padding-top: 7rem;
    padding-bottom: 4.5rem;
    background-color: $grey-reg;
    &__inner{
        display: flex;
        justify-content: space-between;

        &__single{
            display: flex;
            align-items: center;
            gap: 1rem;
            .icon{
                width: 7rem;
            }
            .dtls{
                h4{
                    margin-bottom: 2rem;
                }
                form {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    input{
                        padding: 7px;
                        &::placeholder{
                            color: var(--grey);
                        }
                    }
                }
            }
        }
        
    }
}

/*ad section*/
.ad{
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    &__inner{
        display: flex;
        justify-content: space-between;
        &__single{
            max-width: 30%;
            display: flex;
            gap: 1.5rem;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            .img{
                flex: 1;
                img{
                    width: 100%;
                }
            }
            .ad_text{
                flex: 2;
            }
        }
        .slide_ad{
            max-width: 30%;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
        .slide_ad__inner{
            display: flex;
            gap: 1.5rem;
            .img{
                flex: 1;
                img{
                    width: 100%;
                }
            }
            .ad_text{
                flex: 2;
            }
        }
    }


}

/*deals section*/
.deals{
    padding-bottom: 6rem;
    &__inner{
        &__single{

            .img{
                position: relative;
                img{
                    width: 100%;
                }
                .btns{
                    position: absolute;
                    bottom: 2.5rem;
                    left: 0;
                    width: 100%;
                    padding: 0 2.5rem;
                    display: flex;
                    justify-content: space-between;
                }
            } 
            .texts{
                h3{
                    margin-bottom: 2rem;

                }
                .meta{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    margin-bottom: 1rem;
                    &_single{
                        display: flex;
                        gap: 8px;
                        align-items: center;
                    }
                }
                .amount{
                    margin-bottom: 1rem;
                }
                .pound{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    img{
                        background-color: yellow;
                        padding: 2px 4px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}


/*package section*/
.package{
    &__inner{
        &__top{
            padding-top: 13rem;
            border-radius: 10px;
            background: url('../img/post1.png') no-repeat;
            background-size: cover;
            color: white;
            .num_package{
                display: flex;
                gap: 7px;
                align-items: center;
            }
            h3{
                font-size: 5rem;
                margin-top: 1rem;
                margin-bottom: 4rem;
            }
        }

        &__body{
            display: flex;
            gap: 2rem;
            justify-content: space-between;

            .img{
                border-radius: 15px;
                img{
                    width: 100%;
                }
            }
            .num_package{
                display: flex;
                gap: 7px;
                align-items: center;
                color: var(--grey);
            }
            h3{
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 3rem;
            }
            p{
                color: var(--blue);
            }

        }
    }
}

/*cheap flight section*/
.cheap_flights{
    padding-bottom: 8rem;
    &__inner{
        h2{
            margin-bottom: 3rem;
        }
        &__items{
            display: flex;
            gap: 1.5rem;
            flex-wrap: wrap;
            &__item{
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }
}

/*top airlines*/
.top_airlines{
    padding-bottom: 3rem;
    &__inner{
        h2{
            margin-bottom: 3rem;
        }
        &__items{
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            &__item{
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }

}


/*app section*/
.app{
    padding-top: 4rem;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:nth-of-type(n){
            flex: 1;
        }
        .img img{
            width: 100%;
        }
        .text{
            padding-left: 7rem;
            .btns{
                display: flex;
                gap: 2rem;
            }
        }
    }
}

/*agency section*/
.agency{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 9rem;
    background-color: $grey-deep;
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 1.4rem;
    }
}


/*footer*/

.footer{
    background-color: $grey-light;
    padding-top: 5rem;
    padding-bottom: 3rem;
    &__inner{
        position: relative;
        .chat_box{
            position: absolute;
            bottom: 3rem;
            .chat_icon{
                right: 0;
                background-color: var(--blue);
                padding: 1.5rem 2rem;
                border-radius: 50%;
                color: white;
                font-size: 5rem;
            }
            .chat_desk{
                position: relative;
                .btns{
                    position: absolute;
                    top: 2rem;
                    left: 45%;
                    button{
                        margin-right: 5px;
                        padding: 5px 0;
                        width: 8rem;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        color: #fff;
                        &:hover{
                            background-color: #1261bf ;
                        }
                    }
                }
                .toggle_box{
                    border-radius: 16px;
                    box-shadow: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    bottom: 5rem;
                    .box_top{
                        background-color: var(--blue);
                        text-align: center;
                        padding-top: 5rem;
                        padding-bottom: 1.5rem;
                    }
                    .chat_top{    
                        img,i{
                            margin-right: -4px;
                            border: 2px solid var(--blue);
                        }
                        img:first-of-type{
                            margin-right: 0;
                            z-index: 5;
                        }
                        i:first-of-type{
                            z-index: 6;
                        }
                        img:last-of-type{
                            z-index: 7;
                        }
                        i:last-of-type{
                            z-index: 8;
                        }
                    }
                    .box_body{
                        height: 650px;
                        padding: 1rem;
                    }
                    .chat_body{    
                        display: flex;
                        gap: 1rem;
                        border-bottom: 1px solid $grey-light;
                        .right{
                            h6{
                                color: var(--grey);
                            }
                            p{
                                background-color: var(--blue);
                                padding: 1rem;
                                color: white;
                                margin-top: 6px;
                            }
                        }
                    }
                }
            }
        }
        &__top{
            margin-bottom: 3rem;
            display: flex;
            justify-content: space-between;
            padding-right: 2.5rem;
            h4{
                margin-bottom: 3rem;                
            }
            ul li{
                margin-bottom: 1.3rem;
            }
        }
        &__btm{
            display: flex;
            justify-content: space-between;
            &__left{
                flex: 1;
                h4{
                    margin-bottom: 3rem;
                }
                .office{
                    p{
                        margin-top: 1rem;
                    }
                }
                .social{
                    ul.dtls{
                        li{
                            color: var(--blue);
                            display: flex;
                            gap: 1rem;
                            margin-bottom: 1.7rem;
                        }
                    }
                    ul.icons{
                        display: flex;
                        gap: 2.4rem;
                        img{
                            max-width: 4rem;
                        }
                    }
                    .copyright{
                        margin-top: 10rem;
                    }
                }
            }
            &__right{
                flex: 3;
                h5{
                    margin-bottom: 2.3rem;
                }
                .partners{
                    display: flex;
                    flex-wrap: wrap;
                    img{
                        width: 12rem;
                        margin-right: 1rem;
                        padding: 1.4rem 8px;
                        background-color: white;
                    }
                }
                .payment{
                    padding: 2rem 3rem;
                    border-radius: 12px;
                    background-color: white;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

